In [1]:
import sys
import pandas as pd
import mplfinance as mpl
from datetime import datetime

In [2]:
sys.path.append("../")
from triple_barrier.triple_barrier import TradeSide

In [3]:
columns = ["date-time", "open", "high", "low", "close", "volume"]
df = pd.read_csv("../tests/data/EURUSD_5 Mins_Ask_2023.01.02_2024.02.02.csv", 
                 names=columns, 
                 parse_dates=True, 
                 index_col="date-time",
                 header=0)

In [4]:
df.head()

                        open     high      low    close  volume
date-time
2023-01-02 00:00:00  1.07005  1.07013  1.06985  1.06986  136.06
2023-01-02 00:05:00  1.06986  1.06991  1.06980  1.06981   66.84
2023-01-02 00:10:00  1.07009  1.07011  1.06976  1.06986  118.38
2023-01-02 00:15:00  1.06986  1.07012  1.06985  1.06986  117.64
2023-01-02 00:20:00  1.06986  1.07014  1.06985  1.07011  141.48

In [5]:
df["2023-01-02 02:05:00":].head()

                        open     high      low    close  volume
date-time
2023-01-02 02:05:00  1.07044  1.07051  1.06967  1.06993  367.80
2023-01-02 02:10:00  1.06994  1.07005  1.06904  1.07001  259.76
2023-01-02 02:15:00  1.07001  1.07011  1.06997  1.07008  174.19
2023-01-02 02:20:00  1.07007  1.07010  1.06940  1.06940  189.48
2023-01-02 02:25:00  1.06939  1.06976  1.06939  1.06961   73.61

## Long case with levels

In [6]:
open_date: datetime = pd.to_datetime("2023-01-02 02:05:00")
open_price: float = df.loc[open_date]["open"]
trade_side: TradeSide = TradeSide.BUY
take_profit: float = 1.09044
stop_loss: float = 1.06044
time_limit: datetime = pd.to_datetime("2023-01-02 03:05:00")

print("Open date", open_date)
print("Open price", open_price)
print ("Take profit", take_profit)
print ("Stop loss", stop_loss)
print("Time limit", time_limit)

Open date 2023-01-02 02:05:00
Open price 1.07044
Take profit 1.09044
Stop loss 1.06044
Time limit 2023-01-02 03:05:00